body {
    background: #f9fcff;
    font-family: 'Poppins', sans-serif;
}
nav ul {
    display: flex;
    justify-content: center;
    background: #045093;
}
nav ul li {
    margin: 0 20px;
}
nav ul li a {
    color: white;
    font-weight: bold;
}
.poll {
    background: white;
    padding: 30px;
    width: 80%;
    max-width: 500px;
    margin: 50px auto;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
.poll h2 {
    color: #045093;
}
.poll form {
    margin-top: 20px;
}
.poll button {
    background: #045093;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 25px;
    cursor: pointer;
}
.poll button:hover {
    background: #023f73;
}
