body {
    background: #f7fbff;
    font-family: 'Poppins', sans-serif;
}
nav ul { /* Same nav bar */
    display: flex;
    justify-content: center;
    background: #045093;
    padding: 10px;
}
nav ul li {
    margin: 0 20px;
}
nav ul li a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}
nav ul li a:hover {
    text-decoration: underline;
}
.players-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
    padding: 40px;
}
.player-card {
    background: white;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    transition: 0.3s;
}
.player-card:hover {
    transform: scale(1.05);
}
.player-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
